<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.king.mlkit.vision.app">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MLKit">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".QRCodeScanningActivity"
            android:theme="@style/CameraScanTheme"/>

        <activity android:name=".BarcodeScanningActivity"
            android:theme="@style/CameraScanTheme"/>

        <activity android:name=".FaceDetectionActivity"
            android:theme="@style/CameraScanTheme"/>

        <activity android:name=".ImageLabelingActivity"
            android:theme="@style/CameraScanTheme"/>

        <activity android:name=".ObjectDetectionActivity"
            android:theme="@style/CameraScanTheme"/>

        <activity android:name=".TextRecognitionActivity"
            android:theme="@style/CameraScanTheme"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="barcode,face,ocr,ica" />
    </application>

</manifest>